# When tljh.installer runs, the users' environment as typically found in
# /opt/tljh/user, is installed with these packages.
#
# Whats listed here represents additional packages that the distributions
# installs initially, but doesn't upgrade as tljh is upgraded.
#
# WARNING: The order of these dependencies matters, this was observed when using
#          the requirements-txt-fixer pre-commit hook that sorted them and made
#          our integration tests fail.
#
# ref: https://github.com/jupyter/notebook
notebook>=7.2.2,<8

# ref: https://github.com/jupyterlab/jupyterlab
jupyterlab>=4.2.5,<5

# nbgitpuller for easily pulling in Git repositories
# ref: https://github.com/jupyterhub/nbgitpuller
nbgitpuller>=1.2.1,<2

# jupyter-resource-usage to show people how much RAM they are using
# ref: https://github.com/jupyter-server/jupyter-resource-usage
jupyter-resource-usage>=1.1.0,<2

# Most people consider ipywidgets to be part of the core notebook experience
# ref: https://github.com/jupyter-widgets/ipywidgets
ipywidgets>=8.1.5,<9

pandas>=2.1.4,<3.0.0
h5py>=3.11.0,<4.0.0
pyyaml>=6.0.1,<7.0.0
torch-geometric>=2.4.0,<3.0.0
lightning>=2.1.2,<3.0.0
uncertainty-toolbox>=0.1.1,<0.2.0
point-cloud-utils>=0.30.4,<0.31.0
pyvista>=0.44.2,<0.45.0
tetgen>=0.6.4,<0.7.0
pymeshfix>=0.16.3,<0.17.0
trimesh>=4.4.0,<5.0.0
addict>=2.4.0,<3.0.0
scikit-image>=0.23.2,<0.24.0
rtree>=1.2.0,<2.0.0
graphviz>=0.20.3,<0.21.0
randomname>=0.2.1,<0.3.0
diffusers>=0.29.1,<0.30.0
pymcubes>=0.1.4,<0.2.0
tensorboardx>=2.6.2.2,<3.0.0
tensorboard>=2.17.0,<3.0.0
fast-simplification>=0.1.7,<0.2.0
dill>=0.3.8,<0.4.0
gmsh>=4.13.1,<5.0.0
numpy-stl>=3.1.1,<4.0.0
pacmap>=0.7.3,<0.8.0
openpyxl>=3.1.5,<4.0.0
embreex>=2.17.7.post5,<3.0.0
seaborn>=0.13.2,<0.14.0
jupyterlab>=4.3.0,<5.0.0
trame-vtk>=2.8.11,<3.0.0
panel>=1.5.3,<2.0.0
trame==2.5.2
plotly>=5.24.1,<6.0.0
ema-pytorch>=0.7.7,<0.8.0
occ>=0.0.2.dev20190912195130
bokeh>=3.6.2,<4.0.0
numpy==1.26.2
meshio>=5.3.5,<6.0.0

# PyTorch and related packages with platform-specific wheels
torch @ https://download.pytorch.org/whl/cpu/torch-2.1.1-cp310-none-macosx_11_0_arm64.whl; platform_system == "Darwin"
torch @ https://download.pytorch.org/whl/cu118/torch-2.1.1%2Bcu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.16.1-cp310-cp310-macosx_11_0_arm64.whl; platform_system == "Darwin"
torchvision @ https://download.pytorch.org/whl/cu118/torchvision-0.16.1%2Bcu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

pyg_lib @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/pyg_lib-0.3.1%2Bpt21-cp310-cp310-macosx_11_0_x86_64.whl; platform_system == "Darwin"
pyg_lib @ https://data.pyg.org/whl/torch-2.1.0%2Bcu118/pyg_lib-0.3.1%2Bpt21cu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

torch_scatter @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_scatter-2.1.2-cp310-cp310-macosx_11_0_x86_64.whl; platform_system == "Darwin"
torch_scatter @ https://data.pyg.org/whl/torch-2.1.0%2Bcu118/torch_scatter-2.1.2%2Bpt21cu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

torch_sparse @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_sparse-0.6.18-cp310-cp310-macosx_11_0_x86_64.whl; platform_system == "Darwin"
torch_sparse @ https://data.pyg.org/whl/torch-2.1.0%2Bcu118/torch_sparse-0.6.18%2Bpt21cu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

torch_cluster @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_cluster-1.6.3-cp310-cp310-macosx_11_0_x86_64.whl; platform_system == "Darwin"
torch_cluster @ https://data.pyg.org/whl/torch-2.1.0%2Bcu118/torch_cluster-1.6.3%2Bpt21cu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

torch_spline_conv @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_spline_conv-1.2.2-cp310-cp310-macosx_11_0_x86_64.whl; platform_system == "Darwin"
torch_spline_conv @ https://data.pyg.org/whl/torch-2.1.0%2Bcu118/torch_spline_conv-1.2.2%2Bpt21cu118-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"

# Kaolin (Linux only)
kaolin @ https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.1_cu121/kaolin-0.15.0-cp310-cp310-linux_x86_64.whl; platform_system == "Linux"
